.content-list {
	margin: 0 auto 100px;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
	background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 15px;

}

.content-list__item {
	font-size: 36px;
	line-height: 1.5;
	
}

.content-list__item a {
	color: black;
}

.content-list__item p + p {
	margin-top: 0.5em;
	
}
.title-1 {
    margin-bottom: 30px;
    font-size: 40px;
    align-items: center;
    text-align: center;
}

